
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ '/' | relative_url }}">
            <img src="/assets/logo/logo_endurance.jpeg" width="40" height="40">
            &emsp;
            <img src="/assets/logo/logo_site_barkentina.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Archives</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
