---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <section class="section mb-1 pb-1">
    <!-- post title -->
    <h1 class="title is-2" itemprop="name headline">{{ page.title | escape }}</h1>
    <!-- post meta -->
    <nav class="level">
      <div class="level-left">
        <!-- post publish date -->
        <div class="level-item">
          <span itemprop="datePublished">
            {% assign date_format = "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </span>
        </div>
        <!-- post author -->
        <div class="level-item">
          <span itemprop="author">
            by <span itemprop="name" itemscope itemtype="http://schema.org/Person">{{ site.author }}</span>
          </span>
        </div>
        <!-- mins read -->
        <div class="level-item">
          <span>&middot;&ensp; {{ page.mins | append: '-' | append: 'min read' }}</span>
        </div>
      </div>

      <!-- tags -->
      <div class="level-right">
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
            <span class="tag is-rounded">{{ tag_name }}</span>
        {% endfor %}
      </div>
    </nav>
  </section>

  <section class='section mt-1 pt-1'>
    <div class="content">
      {{ content }}
    </div>
  </section>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
